.nav-bar {
  height: 64px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dadce0;
  color: #5f6368;
}

.nav-bar i,
.nav-bar img {
  padding: 10px;
}

/* NAV-BAR MISCELLANEOUS */
.hover:hover {
  background-color: #f1f3f4;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  color: #f1f3f4;
  background-color: #202124;
  opacity: 0.85;
  white-space: nowrap;
  padding: 5px 8px;
  border-radius: 5px;
  letter-spacing: 1px;
  top: 100%;
  left: 0;
  visibility: hidden;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.keep-tooltip {
  position: relative;
}

.keep-tooltip-text {
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  border: 0.5px solid black;
  padding: 5px 8px;
  top: 100%;
  left: 10px;
  visibility: hidden;
  z-index: 2;
}

.keep-tooltip:hover .keep-tooltip-text {
  visibility: visible;
}

/*NAV-BAR LOGO-AREA */
.logo-area {
  display: flex;
  align-items: center;
  font-size: 19px;
}

.list-view {
  block-size: 40px;
}
.keep-logo {
  height: 60px;
  width: 56px;
  cursor: pointer;
}

.keep-text {
  cursor: pointer;
}

/*NAV-BAR SEARCH-AREA */
.search-area {
  display: flex;
  align-items: center;
  height: 48px;
  width: 692px;
}

.search-area input {
  border: none;
  background-color: #f1f3f4;
  height: 100%;
  width: 95%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 16px;
}

.search-area button {
  border: none;
  height: 48px;
  width: 46px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-inline: 5px;
  color: #5f6368;
}

input:focus {
  outline: none;
}

/*NAV-BAR SETTINGS-AREA */

.settings-area {
  display: flex;
  align-items: center;
}

/*NAV-BAR PROFILE-ACTIONS-AREA*/

.profile-actions-area {
  display: flex;
  margin-right: 15px;
}
